header {
    background-color: #1e1f25;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

header .logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

@media (max-width: 768px) {
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .main .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .main .image img {
        width: 100%;
        height: auto;
    }
}

.navigation {
    display: flex;
    gap: 20px; 
}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}

.navigation a:hover {
    color: #601cfc;
}

.menu-toggle {
    display: none;
}

.mobile-menu-btn {
    display: none;
    background: #1e1f25;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        right: 10px;
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 150px;
        text-align: right;
        flex-direction: column; 
    }

    .navigation a {
        display: block;
        padding: 10px;
        text-align: right;
    }

    #menu-toggle:checked ~ .navigation {
        display: block;
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row; /* في PC النص والصورة جنب بعضهم */
    flex-wrap: wrap;
}

.projects .content {
    margin-top: 30px;
}

.main-login {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-login:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.footer {
    background-color: #1e1f25;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #0021db;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

</style>